@charset "UTF-8";

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(200, 60, 53, 0.95);
  color: #fff;
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

/* 共通
---------------------------------------------*/
header,section.info {
  max-width: 1200px;
}


/* header
---------------------------------------------*/
header {
  margin: 0 auto;
}

.header-box {
  display: flex;
  align-items: center;
  height: 500px;
}

.title {
  width: 50%;

}

h1 {
  text-shadow: 1px 1px 2px silver;
  font-size: 4rem;
  text-align: left;
  width: 50%;
}


.top-img {
  width: 50%;
  /*  background: #ccc;*/
}

.top-img img {
  width: 100%;
  height: auto;
}


/* section
---------------------------------------------*/
/*
section {
}
*/


/* use
---------------------------------------------*/
.use {
  color: #333;
  background-color: rgba(255, 255, 255, 0.95);
}

.use a {
  color: #333;
  text-decoration: none;
}


.swiper-slide {
  padding: 2%;
}

.slide-info {
  display: flex;
}

.slide-img {
  width: 50%;
  margin-right: 3%;
}

.slide-img img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.slide-text {
  width: 50%;
  font-size: 0.87em;
}

.slide-text ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide-number{
  width: 50%;
  display: flex;
  justify-content: space-between
}


.slide-title {
  font-size: 1.3em;
  font-weight: bold;
  
}



/* info
---------------------------------------------*/
.info {
  margin: 10% 10% 5% 10%;
}

h2 {
  letter-spacing: 2px;
  font-size: 3em;
  text-align: center;
  margin-bottom: 10%;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-left {
  width: 30%;
  height: 500px;
  margin-right: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-left img {
  width: auto;
  height: 100%;
}


.info-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  letter-spacing: 2px;
  width: 70%;
  line-height: 1.8em;
}

.info-title {
  font-size: 2em;
  margin-bottom: 10%;
}









/* footer
---------------------------------------------*/
footer {
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 4% 4% 0 4%;
}

button {
/*  margin-bottom: 3%;*/
}


.footer-nav {
  display: flex;
/*  background: pink;*/
  height: 30px;
  width: 60%;
  margin: 3% auto;
}

.footer-nav li {
  width: 100%;
  width: calc(100% / 3);
}

.footer-nav li a {
  display: block;
  line-height: 30px;
}

footer a {
  color: #333;
  text-decoration: none;
}

footer small {
  color: #000;
}

/* icons
---------------------------------------------*/
.icons {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
}
