@charset "UTF-8";

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(200, 60, 53, 0.95);
  color: #fff;
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

/* header
---------------------------------------------*/
header {
  margin: 0 auto;
  margin: 0 10%;
}

.header-box {
  display: flex;
  align-items: center;
  height: 500px;
  margin-top: 5%;
}

.title {
  width: 60%;
  margin-right: 5%;
}

h1 {
  text-shadow: 1px 1px 2px silver;
  font-size: 4rem;
  text-align: left;
  width: 100%;
}

.title p {
  margin-top: 10%;
}

.top-img {
  width: auto;
  height: 100%;
  display: flex;
}

.top-img img {
  width: 100%;
  height: auto;
}


/* section
---------------------------------------------*/
/*
section {
}
*/


/* use
---------------------------------------------*/
.use {
  color: #333;
  background-color: rgba(255, 255, 255, 0.95);
  height: 250px;
}

.use a {
  color: #333;
  text-decoration: none;
}

.slide-info {
  display: flex;
}

.slide-img {
  width: 50%;
  height: 250px;
  text-align: center;
}

.slide-img img {
  width: auto;
  height: 100%;
  vertical-align: bottom;
  padding: 3% 0 3% 3%;
}

.slide-text {
  width: 50%;
  font-size: 0.87em;
  padding: 1.5% 5% 1.5% 1.5%;
}

.slide-text ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide-number{
  width: 50%;
  display: flex;
  justify-content: space-between
}


.slide-title {
  font-size: 1.3em;
  font-weight: bold;

}

.three-point {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
}


/* info
---------------------------------------------*/
.info {
/*  margin: 10% 2% 5% 5%;*/
/*  background: pink;*/
  width: 80%;
  margin: 10% auto;
}

h2 {
  letter-spacing: 2px;
  font-size: 3em;
  text-align: center;
  margin-bottom: 5%;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-left {
  width: 30%;
  height: 500px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-left img {
  width: auto;
  height: 100%;
}

.info-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 40px;
  letter-spacing: 2px;
  width: 70%;
  line-height: 1.8em;
}

.info-title {
  width: 100%;
  font-size: 2em;
  margin-bottom: 10%;
}

/* swiper コレがナイト左寄りになる。。。*/
.swiper-pagination2 {
  text-align: center;
}
.swiper-container2 {
  overflow-x: hidden;
  overflow-y: hidden;
}


/* footer
---------------------------------------------*/
footer {
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 4% 4% 0 4%;
}

.footer-nav {
  display: flex;
  height: 30px;
  width: 70%;
  margin: 3% auto;
}

.footer-nav li {
  width: calc(100% / 3);
}

.footer-nav li a {
  display: block;
  font-size: 1em;
  line-height: 30px;
}

.footer-nav li:not(:last-of-type) {
  border-right: 1px solid #000;
  padding: 0 3%;
}

footer a {
  color: #333;
  text-decoration: none;
}

footer a:hover {
  cursor: pointer;
}

footer small {
  color: #000;
}


/* icons
---------------------------------------------*/
.icons {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 5px;
}

.icon-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 15%;
}
.icons i {
  color: rgba(200, 60, 53, 0.95);
}
